.nav {
  background-color: rgb(121, 174, 235);
  padding: 10px 40px;
  display: flex;
  gap: 20px;
  border-bottom: 1px solid #333;
  border-radius: 15px;
}

.link {
  color: #0f0e0e;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  transition: color 0.3s;
}

.link:hover {
  color: #fff;
}

.active {
  color: #fff;
  border-bottom: 2px solid #0f0e0e;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1440px;
  width: 100%;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navigete {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
